<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V1</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="static/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/bootstrap/css/bootstrap_pre.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/animate/animate_pre.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/css-hamburgers/hamburgers_pre.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/vendor/select2/select2_pre.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="static/css/util_pre.css">
    <link rel="stylesheet" type="text/css" href="static/css/main_pre.css">
    <!--===============================================================================================-->
</head>
<body>
<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                    				<span class="login100-form-title" style="font-size: 18px; text-align: left">

                    <br><br>
                    <ul><li>Full version</li>
                        <br>
                    <li>Automatic On/Off of PC/Laptop</li>
                        <br>

                        <li>script in background </li>
                    <br><br>
                    <li>₹ 99 Only [Contact through links]</li></ul>

                                    </span>
            </div>

            <form class="login100-form validate-form">
					<span class="login100-form-title">
						Login After Payment
					</span>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
                    <input class="input100" type="text" name="email" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Password is required">
                    <input class="input100" type="password" name="pass" placeholder="Password">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn">
                        Login
                    </button>
                </div>
                <!--
                <div class="text-center p-t-12">
                    <span class="txt1">
                        Forgot
                    </span>
                    <a class="txt2" href="#">
                        Username / Password?
                    </a>
                </div>-->

                <div class="text-center p-t-136">
                    <footer id="footer">
                        <ul class="icons" style="display: inline">
                            <li style="display: inline"><a href="https://www.linkedin.com/in/arorachirag155/" class="icon alt fa-linkedin"><span class="label"><img src="https://img.icons8.com/cute-clipart/50/000000/linkedin.png"/></span></a></li>
                            <li style="display: inline"><a href="https://www.instagram.com/chirag_arora01/" class="icon alt fa-instagram"><span class="label"><img src="https://img.icons8.com/cotton/50/000000/instagram-new.png"/></span></a></li>
                             <li style="display: inline"><a href="https://github.com/chiragarora01" class="icon alt fa-github"><span class="label"><img src="https://img.icons8.com/bubbles/50/000000/github.png"/></span></a></li>
                            <br>
                            <li style="display: inline"><a href="https://mail.google.com/mail/u/0/#inbox?compose=new" class="icon alt fa-envelope"><span class="label"><img src="https://img.icons8.com/clouds/50/000000/gmail.png"/></span></a></li>
                            <li style="display: inline"><a href="https://wa.me/7404147350" class="icon alt fa-envelope"><span class="label"><img src="https://img.icons8.com/fluent/48/000000/whatsapp.png"/></span></a></li>

                        </ul>
                    </footer>

                </div>
            </form>
        </div>

    </div>
</div>


<!--===============================================================================================-->
<script src="static/vendor/jquery/jquery_pre-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/bootstrap/js/popper_pre.js"></script>
<script src="static/vendor/bootstrap/js/bootstrap_pre.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/select2/select2_pre.min.js"></script>
<!--===============================================================================================-->
<script src="static/vendor/tilt/tilt.jquery.min.js"></script>
<script>
    $('.js-tilt').tilt({
        scale: 1.1
    })
</script>
<!--===============================================================================================-->
<script src="static/js/main_pre.js"></script>

</body>
</html>